@import '~/assets/styles/variables.scss';
@import '~/assets/styles/mixins.scss';

.main {
  min-height: 100vh;
}

.home_login_container {
  &__login_action {
    @include mobile-only {
      color: red
    }
    
    @include tablet-only {
      color: blue;
    }

    @include desktop-only {
      color: rgb(var(--foreground-rgb));
    }
  }
  &__info {

  }
}