$primary-color: #64ff00;
 
:export {
  primaryColor: $primary-color;
}

$mobile-view-ends: 767px;
$tablet-view-port-starts: 768px;
$tablet-view-port-ends: 1023px;
$desktop-view-port-starts: 1024px;

$grid-columns: 12;
$max-width: 1200px;